*{
    font-size: 16px;
    font-family: sans-serif;
    margin: 0;
}

body{
    width: 80%;
    margin: 80px auto;
}

form{
    border: 1px solid rgba(153, 153, 153, 0.6);
}

form > div {
    margin: 30px 20px;
}

label{
    display: block;
    margin-bottom: 8px;
}

input{
    height: 20px;
    width: 40%;
}

button{
    margin-left: 20px;
    margin-bottom: 30px;
    padding: 10px 32px;
    cursor: pointer;
}

.message-error{
    border: 1px solid rgb(255, 42, 0);
    color: rgb(212, 42, 0);
    background-color: rgba(212, 42, 0, 0.4);
    padding: 16px 32px;
    margin-bottom: 20px;
    display: none;
}

.message-error.visible {
    display: block;
}

.message-success{
    border: 1px solid rgb(81, 150, 2);
    color: rgb(212, 42, 0);
    background-color: rgba(113, 212, 0, 0.4);
    padding: 16px 32px;
    margin-bottom: 20px;
    display: none;
}

.message-success.visible{
    display: block;
}

.success{
    border: 1px solid rgb(81, 150, 2);
    background-color: rgba(113, 212, 0, 0.4);
}





/* test pour les genres 2 */
.genre-section {
    margin-top: 10px; 
  }
  .genre-label {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid black; 
    cursor: pointer;
  }
  [type="radio"] {
    display: none; 
  }
  [type="radio"]:checked + label {
    background-color: #f0f0f0; 
  }
  /* moyennement concluant mais je n'arrive pas a faire mieux */